

<nav style="float: left; padding-bottom: 100%;" class="navbar navbar-dark bg-secondary mb-4 d-inline-block">
  <ul class="navbar-nav flex-column">
    <a class="navbar-brand text-light mb-n4"><%= @user.username %>'s List</h2>
    <% @game_list.each do |game| %>
      <li class="nav-item active">
        <a class="nav-link" href="/games/<%= slug(game.name) %>">
        <% if game.rating %> 
          <%= game.rating %>: 
        <% end %>
        <%= game.name %> 
        </a>
      </li>
    <% end %>
  </ul>
</nav>

<% @activities.each do |activity| %>
  <div style="width: 800px;" class="card mx-auto my-4">
    <div class="card-header">
      <% if activity.game_rating %>
        <h1 class="display-4 d-inline-block mr-2"><%= activity.game_rating %></h1>
      <% end %>

      <% if activity.type == 'composite' %>
        <h2 class="d-inline-block">
          <a href="/users/<%= slug(activity.username) %>"><%= activity.username %></a> played <a href="/games/<%= slug(activity.game_name) %>"><%= activity.game_name %></a>
        </h2>
      </div>
        <div class="card-body">
          <p><%= activity.post_content %></p>
        </div>

      <% elsif activity.type == 'played' %>
        <h2 class="d-inline-block">
          <a href="/users/<%= slug(activity.username) %>"><%= activity.username %></a> played <a href="/games/<%= slug(activity.game_name) %>"><%= activity.game_name %></a>
        </h2>
      </div>

      <% elsif activity.type == 'post' %>
        <h2 class="d-inline-block">
          <a href="/users/<%= slug(activity.username) %>"><%= activity.username %></a> posted @<a href="/games/<%= slug(activity.game_name) %>"><%= activity.game_name %></a>
        </h2>
      </div>
        <div class="card-body">
          <p><%= activity.post_content %></p>
        </div>

      <% else %>
        <h2 class="d-inline-block">
          <a href="/users/<%= slug(activity.username) %>"><%= activity.username %></a> rated <a href="/games/<%= slug(activity.game_name) %>"><%= activity.game_name %></a>
        </h2>
      </div>
      <% end %>
  </div>
<% end %>