<form class="form-row ml-3" method="post" action="/signup">
  
  <label for="username" class="col-form-label">Username</label>
  <div class="col col-auto">
    <input type="text" class="form-control" name="user[username]" id="username" placeholder="Username" value="<%= params[:user][:username] if params.any? %>">
    <%= '<small id="loginerror" class="form-text text-danger">' + @errors[:username].first + "</small>" if @errors && @errors[:username].any? %>
  </div>

  <label for="email" class="col-form-label">Email</label>
  <div class="col col-auto">
    <input type="email" class="form-control" name="user[email]" id="email" placeholder="Email" value="<%= params[:user][:email] if params.any? %>">
    <%= '<small id="loginerror" class="form-text text-danger">' + @errors[:email].first + "</small>" if @errors && @errors[:email].any? %>
  </div>

  <label for="password" class="col-form-label">Password</label>
  <div class="col col-auto">
    <input type="password" class="form-control" name="user[password]" id="password" placeholder="Password">
    <%= '<small id="loginerror" class="form-text text-danger">' + @errors[:password].first + "</small>" if @errors && @errors[:password].any? %>
  </div>

  <div class="col col-auto">
    <input type="submit" class="btn btn-primary" value="Create User">
  </div>

</form>